.orgchart{
    background: none !important;
  }
  
  .orgchart-container {
    background-color: #cea62d1c!important;
    border: 2px dashed #cea62d36!important;
    height: fit-content!important;
 }

 .orgchart ul li .oc-node {
  padding: 2px;
  border: 2px dashed #cea62d7a;

}

  .orgchart ul li .oc-node .oc-heading{
    background-color: #cea62d7a!important;
    border: 1px solid #cea62d7a!important;
  }
  
  .orgchart ul li .oc-node .oc-content{
    height: 35px!important;
    border: 1px solid #cea62d7a!important;
    background-color: black!important;
  }
  
  .orgchart ul li .oc-node .oc-heading-available{
    background-color: #13a827!important;
  }
  
  .orgchart ul li .oc-node .oc-heading-blocked{
    background-color: #a19f9f!important;
  }
  
  .oc-topheading {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
  }
  
  .oc-info{
    cursor: pointer;
  }
  
  .oc-view{
    cursor: pointer;
  }

  .orgchart ul li .oc-node:hover {
    background-color: #ffc0007a;
}
  