.orgchart{
    background: none !important;
  }
  
  .orgchart-container {
    background-color: #2b313900!important;
    border: 2px dashed #2B3139!important;
    height: fit-content!important;
    border-radius: 3px!important;
 }

 .orgchart ul li .oc-node {
  padding: 2px;
  border: 2px dashed #2B3139;

}

  .orgchart ul li .oc-node .oc-heading{
    background-color: #2B3139!important;
    border: 1px solid #2B3139!important;
    border-radius: 3px 3px 0 0!important;
    color: #EAECEF;
    font-weight: 400;
  }
  
  .orgchart ul li .oc-node .oc-content{
    height: 35px!important;
    border: 1px solid #2B3139!important;
    background-color: #2b313946!important;
  }
  
  .orgchart ul li .oc-node .oc-heading-available{
    background-color: #13a827!important;
  }
  
  .orgchart ul li .oc-node .oc-heading-blocked{
    background-color: #a19f9f!important;
  }
  
  .oc-topheading {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
  }
  
  .oc-info{
    cursor: pointer;
  }
  
  .oc-view{
    cursor: pointer;
  }

  .orgchart ul li .oc-node:hover {
    background-color: #00000063;
  }

  .orgchart ul li .oc-node:not(:only-child)::after, .orgchart > ul > li > ul li > .oc-node::before  {
    background-color: #2B3139;
  }
  
  .orgchart > ul > li > ul li::before {
    border-top: 2px solid #2B3139;
  }

  .orgchart ul li .oc-node.selected{
    background-color: #00000063;
  }