.profile label {
    font-size: 16px;
    font-weight: 600;
    color: #848E9C;
}

.profile span {
    font-size: 16px;
}

.input-edit {
    border: 1px solid #2B3139 !important;
    padding: 1% !important;
    border-radius: 3px !important;
    margin: 4px 0px !important;
    width: 75%;
}

.cancel-chng {
    cursor: pointer !important;
    background-color: #d54545ab !important;
    border-color: #d54545 !important;
    color: #fff !important;
    border-radius: 3px !important;
    text-transform: none !important;
}

.save-chn {
    cursor: pointer !important;
    background-color: rgb(58 182 122 / 62%) !important;
    border-color: rgb(58 182 122) !important;
    color: #fff !important;
    border-radius: 3px !important;
    text-transform: none !important;
}

.mob-col {
    flex-direction: row;
}

.margii {
    margin-bottom: 1rem;
    flex-direction: row;
}

.comingsoon{
    width: 25%;
}

.w-15-47{
    width: 15%!important;
}

.w-11-35{
    width: 11%!important;
}


.justify-start{
    justify-content: flex-start!important;
}

@media (max-width: 600px) {
    [data-headerbg="color_3"] .header:not(.home):after {
        left: 0 !important;
    }

    .mob-col {
        flex-direction: column !important;
    }

    .input-edit {
        width: 100% !important;
    }


    .margii {
        margin-bottom: 0.2rem!important;
        flex-direction: column;
    }

    .comingsoon{
        width: 70%;
    }

    .w-15-47{
        width: 50%!important;
    }

    .w-11-35{
        width: 50%!important;
    }

    .justify-start{
        justify-content: center!important;
    }

    .mb-55{
        margin-bottom: 2%;
    }

}