.trade {
    font-weight: bold;
}

.positive-trade {
    color: green;
}

.negative-trade {
    color: #fd5353;
}

.neutral-trade {
    font-weight: bold;
}

.MuiDataGrid-cell:focus {
    outline: none !important;
}

.MuiDataGrid-root {
    border-color: #2B3139 !important;
    color: #EAECEF !important;
    border-radius: 3px!important;
    font-family: 'Montserrat', sans-serif!important;
    font-size: 12px!important;
}

.MuiDataGrid-topContainer {
    color: #EAECEF !important;
}

.MuiDataGrid-root {
    --DataGrid-containerBackground: #2B3139!important;
    --DataGrid-rowBorderColor: #2B3139 !important;
    font-family: 'Montserrat', sans-serif!important;
}

.MuiDataGrid-withBorderColor {
    border-color: #2B3139 !important;
}

.css-1oudwrl::after {
    background-color: #FCD535 !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: #00800057 !important;
    border-color: #00800057 !important;
    border-radius: 3px !important;
    color: #00aa00 !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-deny),
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
    background-color: #fd53535c !important;
    border-color: #fd53535c !important;
    border-radius: 3px !important;
    color: #fd5353 !important;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    display: grid;
    border: 1px solid #2B3139;
    border-radius: 3px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    color: #FCD535 !important;
}

div:where(.swal2-container) .swal2-html-container p {
    display: flex;
    justify-content: space-between;
}

div:where(.swal2-icon).swal2-warning {
    border-color: #FCD535 !important;
    color: #FCD535 !important;
}

.btn-new-complete {
    cursor: pointer !important;
    background-color: #00800057 !important;
    border-color: #00800057 !important;
    border-radius: 3px !important;
    color: #00aa00 !important;
}

.btn-new-operating {
    cursor: pointer !important;
    background-color: #FCD5355e !important;
    border-color: #FCD53570 !important;
    border-radius: 3px !important;
    color: #FCD535 !important;
}

.btn-new-sell {
    cursor: pointer !important;
    background-color: #fd53535e !important;
    border-color: #fd535370 !important;
    border-radius: 3px !important;
    color: #fd5353 !important;
}

.btn-user-sold {
    cursor: pointer !important;
    background-color: #3498ff61 !important;
    color: #3498ff !important;
    border: 1px solid #3498ff !important;
    border-radius: 3px !important;
}


@media (max-width: 600px) {
    .MuiDataGrid-sortIcon {
        display: none !important;
    }

    .MuiDataGrid-cell[data-field='estado'] {
        flex: 1 !important;
    }

    .MuiDataGrid-cell[data-field='coin'] {
        flex: 1 !important;
    }

    .MuiDataGrid-cell {
        padding: 0 1.1% !important;
    }

    .btn-xs {
        padding: 4px 6px!important;
    }
}